/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

#main {
    width: 100vw;
    height: 100vh;
    background-color: black;
}

.name{
    color: white; 
}
.intro{
    color: white;
}

/* Add more styles as you prefer */
